{% extends "base.html" %}

{% block title %}
{{ news.title }} - Новости
{% endblock title %}

{% block content %}
<div class="row">
  <div class="col-lg-8 col-md-8">
    <div class="latest_post">
      <div class="single_post_content">
        <h2><span>{{ news.title }}</span></h2>
        <div class="single_post_content_left">
          <ul class="business_catgnav  wow fadeInDown">
            <li>
              <figure class="bsbig_fig">
                <a href="#" class="featured_img"> 
                  <img alt="{{ news.title }}" src="{{ news.img.url }}" style="max-width: 100%; height: auto;"> <!-- Стиль для улучшенного отображения изображения -->
                  <span class="overlay"></span> 
                </a>
                <figcaption> <a href="#">{{ news.category }}</a> </figcaption>
                <p>{{ news.published_time|date:"d.m.Y" }}</p>
              </figure>
            </li>
          </ul>
          <p>{{ news.disc }}</p>

          {% if is_admin == True %}
            <a href="{% url "news_delete" news.slug %}" class = "btn btn-danger">Delete</a>
            <a href="{% url "news_edit" news.slug %}" class = "btn btn-info">Edit</a>
          {% endif %}

        </div>


      </div>
    </div>
  </div>
</div>
{% endblock content %}
